@(ev: EventInfo, reactions: Iterable[EventReactionUserAndReactionType], tags: Iterable[EventTag], authorOrNoe: Option[UserInfo])(implicit m: Messages)
@maxDisplayNum = @{6}
<tr @if(authorOrNoe.isEmpty){ class="danger" }>
    <td>@ev.id.get</td>
    <td><a href="@controllers.member.page.routes.EventPage.view(ev.id.get)">@ev.title</a></td>
    <td>@authorOrNoe.map(user =>
            Html(<span>
                <img width="24px" height="24px" src={user.picture} title={user.fullName} /> {user.fullName}
            </span>.toString)
    ).getOrElse(m("event.no.user"))</td>
    <td>@{views.support.ViewSupport.formatDateTimeOrDefault(ev.publishDateUnixMillis, m("event.date.undefined"))}</td>
    <td>@{m("event.duration.as", ev.duration)}</td>
    <td>
        <div class="event-tag-container">
        @for(tag <- tags){
            <span class="label label-default tag-label">@{tag.text}</span>
        }
        </div>
    </td>
    <td>
        <span class="btn btn-info event-reaction" data-event-id="@ev.id" data-reaction-type-id="1"> @m("event.want.to.listen")
            <i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;<span class="badge">@reactions.size</span>
        </span>
        <div class="reactions">
        @for(reaction <- reactions.slice(0, maxDisplayNum)){ @reaction.userInfoOrNone match {
            case Some(user) => {
                <span>
                    <img width="24px" height="24px" src="@{user.picture}" title="@{user.fullName}" />
                    <span></span>
                </span>
            }
            case None => {}
        }}
        @if(reactions.size > maxDisplayNum) {
            <span>... @m("event.and.more", reactions.size - maxDisplayNum)</span>
        }
        </div>
    </td>
</tr>

