@import base._

@(flash: Flash, userInfo: UserInfo, eventInfoWithReactionsList: Iterable[EventInfoWithReaction])(implicit m: Messages)

@title = @{m("title.event")}
@scripts = @{Html("")}

@fluid_main(flash, title, Some(userInfo), scripts) {
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>発表者確定イベント</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>発表者未定イベント</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@m("event.id")</th>
                        <th>@m("event.title")</th>
                        <th>@m("event.presenter")</th>
                        <th>@m("event.date")</th>
                        <th>@m("event.tag")</th>
                        <th>@m("general.operate")</th>
                    </tr>
                </thead>
                <tbody>
                    @for(eventInfoWithReactions <- eventInfoWithReactionsList){
                        @defining(eventInfoWithReactions.eventInfo) { ev =>
                            @defining(eventInfoWithReactions.reactions) { react =>
                                <tr @if(eventInfoWithReactions.authorOrNoe.isEmpty){ class="danger" }>
                                    <td>@ev.id.get</td>
                                    <td>@ev.title</td>
                                    <td>@eventInfoWithReactions.authorOrNoe.map(_.fullName).getOrElse(m("event.not.assignment"))</td>
                                    <td>@ev.publishDateUnixMillis</td>
                                    <td>tag</td>
                                    <td>
                                        <span class="btn btn-info event-reaction" data-event-id="@ev.id" data-reaction-type-id="1"> @m("event.want.to.listen")
                                        <span class="badge">@eventInfoWithReactions.reactions.size</span></span>
                                        <div>
                                            @for(reaction <- eventInfoWithReactions.reactions){
                                                @reaction.userInfoOrNone match {
                                                    case Some(user) => {
                                                        <img width="16px" height="16px" src="@{user.picture}" title="@{user.fullName}" />
                                                    }
                                                    case None => {}
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
            <!-- /.col-lg-12 -->
    </div>
}

