@import base._
@import tags._
@import event.parts._

@(flash: Flash, userInfoOrNone: Option[UserInfo], eventInfoWithReactionsList: Iterable[EventInfoWithReaction], assignedNum: Int, notAssignedNum: Int, pastNum: Int, searchTagOrNone: Option[EventTag], queryOrNone: Option[String])(page: Int, pageSize: Int, numPages: Int)(implicit m: Messages)

@title = @{m("title.event")}
@sidebar = @{views.support.SidebarGenerator.generateBasicSidebarContents(userInfoOrNone, searchTagOrNone, queryOrNone)}
@scripts = @{Html("")}

@fluid_main(flash, title, userInfoOrNone, sidebar, scripts) {
    <div class="row">
        @information_panel("panel-primary", "fa-star", assignedNum, m("event.user.assigned"), controllers.member.page.routes.EventPage.listAssigned().url)
        @information_panel("panel-green", "fa-star-o", notAssignedNum, m("event.user.not.assigned"), controllers.member.page.routes.EventPage.listNotAssigned().url)
        @information_panel("panel-yellow", "fa-tasks", assignedNum + notAssignedNum, m("event.user.all"), controllers.member.page.routes.EventPage.listAll().url)
        @information_panel("panel-red", "fa-ban", pastNum, m("event.in.past"), controllers.member.page.routes.EventPage.listAllPast().url)
    </div>

    @* 新規作成ボタンとページネーション *@
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-info" href="@{controllers.member.page.routes.EventPage.create()}"><i class="fa fa-plus-circle"></i> @m("event.add")</a>
            <nav class="pull-right">
            @pagination("event/list/all", page, numPages, pageSize)
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped event-table">
                <thead>
                    <tr>
                        <th class="event-id">@m("event.id")</th>
                        <th class="event-title">@m("event.title")</th>
                        <th class="event-presenter">@m("event.presenter")</th>
                        <th class="event-date">@m("event.date")</th>
                        <th class="event-duration">@m("event.duration")</th>
                        <th class="event-tag">@m("event.tag")</th>
                        <th class="event-operate">@m("general.operate")</th>
                    </tr>
                </thead>
                <tbody>
                    @for(eventInfoWithReactions <- eventInfoWithReactionsList){
                        @defining(eventInfoWithReactions.eventInfo) { ev =>
                            @defining(eventInfoWithReactions.reactions) { reactions =>
                                @defining(eventInfoWithReactions.tags) { tags =>
                                    @event_record(userInfoOrNone, ev, reactions, tags, eventInfoWithReactions.authorOrNone)
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

