@import base._
@import tags._
@import views.support.ViewSupport

@(flash: Flash, userInfoOrNone: Option[UserInfo], event: EventInfo, reactions: Iterable[EventReactionUserAndReactionType], authorOrNone: Option[UserInfo], tags: Iterable[EventTag], form: Form[EventInfoForForm])(implicit m: Messages)

@authorExists = @{authorOrNone.isDefined}
@title = @{m("title.event.view")}
@sidebar = @{views.support.SidebarGenerator.generateBasicSidebarContents(userInfoOrNone)}
@scripts = @{Html("")}
@btnAdditionalClass = @{
    reactions.find(_.userInfoOrNone.exists(_.id == userInfoOrNone.map(_.id).getOrElse(None))) match {
        case Some(_) => "btn-info"
        case _ => "btn-default"
    }
}

@fluid_main(flash, title, userInfoOrNone, sidebar, scripts) {
    @form_error(form)

    <div class="row">
        <div class="col-md-12">
            <a href="@controllers.member.page.routes.EventPage.edit(event.id.get)" class="btn btn-default">@m("general.edit")</a>
            <button class="btn btn-danger event-delete" data-event-id="@{event.id.get}" data-event-title="@{event.title}">@m("general.delete")</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 main-container">
        @helper.form(action = controllers.member.page.routes.EventPage.postData(), 'class -> "form-horizontal") {
            @form_group_static(Messages("event.title"), event.title)
            @form_group_textarea("description", Messages("event.description"), form("description"), cssClass = "col-sm-6")('rows -> "11", 'readonly -> "true")
            @form_group_static(Messages("event.date"), ViewSupport.formatDateTimeOrDefault(event.publishDateUnixMillis, m("event.date.undefined")))

            @form_basic("duration", Messages("event.duration"), form("duration"), 3) {
                <div class="col-sm-2">
                    <div class="input-group time-duration">
                        <span type="number" class="form-control">@{event.duration}</span>
                        <span class="input-group-addon">@m("general.minute")</span>
                    </div>
                </div>
            }

            @form_basic("tag", Messages("event.tag"), form("tags"), 3) {
                <div class="col-sm-8 event-tag-container">
                    @for(tag <- tags) {
                        <span class="tag-label label label-default">
                            @{tag.text}
                        </span>
                    }
                </div>
            }

            @if(authorExists) {
                @form_group_html(Messages("event.presenter")) {
                    <div class="row">
                        <div class="col-md-4">
                            <img width="24px" height="24px" src="@{authorOrNone.get.picture}" title="@{authorOrNone.get.fullName}" /> @{authorOrNone.get.fullName}
                        </div>
                    </div>
                }
            }

            @form_group_html("") {
                <div class="row">
                    <div class="col-md-6">
                        <span class="btn event-reaction @btnAdditionalClass" data-event-id="@event.id" data-reaction-type-id="1"> @m("event.want.to.listen")
                            <i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;<span class="badge">@reactions.size</span>
                        </span>
                        <div class="reactions detail-reactions">
                        @for(reaction <- reactions){ @reaction.userInfoOrNone match {
                            case Some(user) => {
                                <span>
                                    <img width="24px" height="24px" src="@{user.picture}" title="@{user.fullName}" />
                                    <span>@{user.fullName}</span>
                                </span>
                            }
                            case None => {}
                        }}
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>

}
