@(paramName: String, label: String, field: Field, labelBaseWidth: Int = 3, cssClass: String = "col-sm-4", disableAutoComplete: Boolean = false)(implicit m: Messages)
@import tags._
@autoComplete = @{ if (disableAutoComplete) { "autocomplete=\"off\"" } else { "" }}
@form_basic(paramName, label, field, labelBaseWidth) {
    <div class="@cssClass">
        <input type="password" class="form-control" name="@{paramName}" id="input_@{paramName}" value="@{field.value.getOrElse("")}" placeholder="" @autoComplete>
    </div>
}
