@import tags._
@import views.support.ViewSupport._
@(paramName: String, label: String, field: Field, labelBaseWidth: Int = 3, cssClass: String = "col-sm-4", disableAutoComplete: Boolean = false)(implicit m: Messages)
@timestamp = @{
    val ts = try {
        field.value.getOrElse("").toLong
    } catch {
        case e: Throwable => 0L
    }

    if (ts > 0) {
        ts
    } else {
        val cal = java.util.Calendar.getInstance()
        val today = cal.get(java.util.Calendar.DAY_OF_YEAR)
        cal.set(java.util.Calendar.DAY_OF_YEAR, today + 1)
        cal.set(java.util.Calendar.HOUR_OF_DAY, 19)
        cal.set(java.util.Calendar.MINUTE, 0)
        cal.set(java.util.Calendar.SECOND, 0)
        cal.set(java.util.Calendar.MILLISECOND, 0)
        cal.getTimeInMillis
    }
}
@form_basic(paramName, label, field, labelBaseWidth) {
    <div class="@cssClass">
        <div class='input-group datepicker'>
            <input type="text" class="datepicker-input form-control" name="dp_@{paramName}" id="dp_input_@{paramName}" data-for="#input_@paramName" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <input type="hidden" name="@{paramName}" value="@timestamp" id="input_@paramName">
    </div>
}
