$icon-font-path: './fonts/bootstrap/';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/typeahead.css';

.input-group .input-group-btn .btn {
  height: 34px;
}

.navbar-static-top {
  margin-bottom: 0;
}

$tag-margin: 0.5em;

.tag-label {
  margin-right: $tag-margin;
  i {
    margin-left: $tag-margin;
    cursor: pointer;
  }
}

.form-group input[type='checkbox'] {
  display: none;
}

.form-group input[type='checkbox'] + .btn-group > label span {
  width: 20px;
}

.form-group input[type='checkbox'] + .btn-group > label span:first-child {
  display: none;
}

.form-group input[type='checkbox'] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type='checkbox']:checked + .btn-group > label span:first-child {
  display: inline-block;
}

.form-group input[type='checkbox']:checked + .btn-group > label span:last-child {
  display: none;
}

.checkbox-btn {
  background-color: #FFF;
}

.datepicker {
  cursor: pointer;
}

.reactions {
  img {
    margin: 0 3px 0 0;
  }
}

.event-table {
  .event-id { width: 2em; }
  .event-presenter { width: 8em; }
  .event-date { width: 10em; }
  .event-tag { width: 15em; }
  .event-operate { width: 6em; }
}

.tag-cloud {
  .input-group { padding: 1em; }
  h1 { display: inline-block; }
  h2 { display: inline-block; }
  h3 { display: inline-block; }
  h4 { display: inline-block; }
  h5 { display: inline-block; }
  h6 { display: inline-block; }
}
