$icon-font-path: '../fonts/bootstrap/';
@import 'bootstrap';
@import "typeahead.css";

.sidebar-search .input-group-btn .btn {
  height: 34px;
}

.navbar-static-top {
  margin-bottom: 0;
}

$tag-margin: 0.5em;

.tag-label {
  margin-right: $tag-margin;
  i {
    cursor: pointer;
    margin-left: $tag-margin;
  }
}
.event-tag-container {
  .tag-label {
    display: inline-block;
    margin-bottom: $tag-margin;
    float: left;
  }
}

.form-group {
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + .btn-group > label {
    height: 33px;
  }

  input[type="checkbox"] + .btn-group > label div {
    display: inline-block;
    width: 26px;
  }
  input[type="checkbox"] + .btn-group > label div:first-child {
    display: none;
  }

  input[type="checkbox"] + .btn-group > label div:last-child {
    display: inline-block;
  }

  input[type="checkbox"]:checked + .btn-group > label div:first-child {
    display: inline-block;
  }

  input[type="checkbox"]:checked + .btn-group > label div:last-child {
    display: none;
  }
}

.checkbox-btn {
  background-color: #FFF;
}

.datepicker {
  cursor: pointer;
}

.reactions {
  img {
    margin: 2px 2px 0 0;
    float: left;
  }
}

.event-table {
  .event-id { width: 2em; }
  .event-presenter { width: 8em; }
  .event-date { width: 10em; }
  .event-tag { width: 15em; }
  .event-operate { width: 6em; }
}

.tag-cloud {
  .input-group { padding: 0 1em; }
  h1 { display: inline-block; }
  h2 { display: inline-block; }
  h3 { display: inline-block; }
  h4 { display: inline-block; }
  h5 { display: inline-block; }
  h6 { display: inline-block; }
}
