@import base._
@import helpers.Auth0Config

@(flash: Flash, config: Auth0Config, loginPermittedDomain: String)(implicit m: Messages)

@title = @{m("title.application")}
@sidebar = @{views.support.SidebarGenerator.generateBasicSidebarContents(None)}
@scripts = {
    <script>
	  var AUTH0_CLIENT_ID = '@config.clientId';
	  var AUTH0_DOMAIN = '@config.domain';
	  var AUTH0_CALLBACK_URL = '@config.callbackURL';
    </script>
}

@plain_base(flash, title, scripts) {
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>@m("login.title")</h1>
                <hr>
                <p>@m("login.message1")</p>
                <p>@m("login.message2", loginPermittedDomain)</p>
                <div class="login-box auth0-box before">
                    <a class="btn btn-primary btn-xl btn-login">Log in</a>
                </div>
            </div>
        </div>
    </header>

}

