@import base._
@import helpers.Auth0Config

@(flash: Flash, config: Auth0Config)(implicit m: Messages)

@title = @{m("title.application")}
@scripts = {
    <script>
	  var AUTH0_CLIENT_ID = '@config.clientId';
	  var AUTH0_DOMAIN = '@config.domain';
	  var AUTH0_CALLBACK_URL = '@config.callbackURL';
    </script>
}

@fluid_main(flash, title, None, scripts) {
    <div class="row">
        <div class="col-md-4 main-container">
            <div class="login-box auth0-box before">
                <a class="btn btn-primary btn-lg btn-login btn-block">SignIn</a>
            </div>
        </div>
    </div>

}


